<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.x.demo"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>

    <application >

        <meta-data android:value="10010" android:name="qd_code"></meta-data>
        <meta-data android:name="XOPENSDK_APPKEY" android:value="1"></meta-data>

        <activity android:name="MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--以下是需要添加的-->
        <activity
                android:name="com.xy.xypay.activity.XYPayCenterActivity"
                android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                android:screenOrientation="landscape" />

        <activity
                android:name="com.unionpay.uppay.PayActivity"
                android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                android:excludeFromRecents="true"/>
        <activity
                android:name="com.mokredit.payment.MktPayment"
                android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                android:excludeFromRecents="true"/>
        <activity android:name="com.xy.xypay.activity.XYLoginAccountActivity"
                  android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name="com.xy.xypay.activity.XYLoginChangePass"
                  android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name="com.xy.xypay.activity.XYLoginBundlePhone"
                  android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name="com.xy.xypay.activity.XYLoginHistoryActivity"
                  android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name="com.xy.xypay.activity.XYLoginActivity"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity android:name="com.xy.xypay.activity.XYLogoutActivity"
                  android:screenOrientation="landscape"
                  android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

        <activity android:name="com.alipay.android.app.sdk.WapPayActivity" />
        <service android:name="com.xy.xypay.service.FloatWindowService" />

    </application>
</manifest>
